/*Media Query para Responsive*/
@media screen and (max-width:600px){
    /*ajustar el fondo de los servios*/
    #Servicios{       
        height: 150vh !important; /*Altura Para Dispositivos Móviles*/       
    }

    /*clases de proyectos con las propiedades CSS*/
    .menu_principal{        
        margin-top: 0; /*Margen superior*/    
        position: fixed;  /*Pociones*/                
    }

    /* hijos 2.1 y 2.2 */
    .menu_bar{
        width: 100%; /*Tamaño Ancho*/ 
        height: 100vh; /*Altura Para Dispositivos Móviles*/
        background-color: #ecb359; /*Color de Fondo*/ 
        position: fixed; /*Posición Fija*/
        justify-content: space-around; /*justificar contenido: espacio alrededor*/     
        align-items: center; /*alinear los elementos al centro*/
        flex-direction: column; /*dirección flexible: columna*/
        top: 0; /*posicion superior*/       
        right: 0; /*posicion derecha*/
        margin-top: 75px; /*Margen superior*/
        border-radius: 0px 0px 0px 300px; /*Esquinas redondeadas imagenes*/      
        transform: translateX(100%);  /*propiedad transform*/
    }

    /*Clase para el botón responsivo*/
    .menu_bar.active{
        transform: translateX(0%); /*Tranformar y mover menu bar al eje x*/
    }


    /*Ajustes de estilos de los enlaces*/
    .menu_bar .enlaces ul li{
        display: block; /*Bloqueo de Pantalla*/
        padding: 20px 10px; /*Margen Interna*/
        text-align: center; /*Texto Alineado al Centro*/       
    }
    
    .menu-bar .enlaces ul li a{
        font-size: 18px; /*tamaño de letra - fuente */ 
    }

    .menu_bar .redes_sociales span.material-icons{
        margin-bottom: 200px; /*Margen Boton*/
        font-size: 40px; /*tamaño de letra- fuente */ 
    } 

    .menu_principal i{
        display: block; /*Bloqueo de Pantalla: esconder elementos*/
    }

    .Imagen_Central img{
        display: none; /*Pantalla Ninguna: esconder elementos*/
    }
}